.menu{
	display:block;
	
}

.menu ul li{
	display: inline;
	list-style: none;
	padding: 10px;	
	border-radius: 4px;
	background-color: #85ADFF;
}

.menu ul li a{
	text-decoration: none;
}


.menu ul li a:visited{
	color: black;
}



