<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
		<title>Characters</title>
		
	</head>
	
	<body>
		<div class="menu">
			<ul>
				<li><a href="char.html">Characters</a></li>
				<li><a href="dungeons.html">Thundercats</a></li>
			</ul>
		</div>
		<table>
			<thead>
				<tr>
					<td><b>Name</b></td>
					<td><b>Class</b></td>
					<td><b>Strength</b></td>
					<td><b>Skill</b></td>
					<td><b>Resistance</b></td>
					<td><b>Armor</b></td>
					<td><b>Fire Power</b></td>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>Lion-O</td>
					<td>Thief</td>
					<td>+</td>
					<td>+++</td>
					<td>+</td>
					<td>+</td>
					<td>+</td>
				</tr>
				
				<tr>
					<td>Cheetara</td>
					<td>Barbarian</td>
					<td>++++</td>
					<td>+</td>
					<td>+</td>
					<td>+</td>
					<td></td>
				</tr>
				
				<tr>
					<td>The cure</td>
					<td>Paladin</td>
					<td>+</td>
					<td>+</td>
					<td>+</td>
					<td>+++</td>
					<td>+</td>
				</tr>
				<tr>
					<td>Snarf</td>
					<td>Thief</td>
					<td>+</td>
					<td>+++</td>
					<td>+</td>
					<td>+</td>
					<td>+</td>
				</tr>
			</tbody>
		
		</table>

	</body>
</html>
